<h2>Create Leave Request</h2>

<form [formGroup]="leaveForm" (ngSubmit)="submitForm()">
  <div class="form-group">
    <label for="employeeId">Employee ID:</label>
    <input type="text" id="employeeId" formControlName="employeeId" class="form-control">
    <div *ngIf="leaveForm.get('employeeId')?.invalid && leaveForm.get('employeeId')?.touched" class="text-danger">
      Employee ID is required.
    </div>
  </div>
  <div class="form-group">
    <label for="employeeName">Employee Name:</label>
    <input type="text" id="employeeName" formControlName="employeeName" class="form-control">
    <div *ngIf="leaveForm.get('employeeName')?.invalid && leaveForm.get('employeeName')?.touched" class="text-danger">
      Employee Name is required.
    </div>
  </div>
  <div class="form-group">
    <label for="employeePhone">Phone:</label>
    <input type="text" id="employeePhone" formControlName="employeePhone" class="form-control">
    <div *ngIf="leaveForm.get('employeePhone')?.invalid && leaveForm.get('employeePhone')?.touched" class="text-danger">
      Phone is required.
    </div>
    
  </div>

  <div class="form-group">
    <label for="employeeEmail">Employee Email:</label>
    <input type="text" id="employeeEmail" formControlName="employeeEmail" class="form-control">
    <div *ngIf="leaveForm.get('employeeEmail')?.invalid && leaveForm.get('employeeEmail')?.touched" class="text-danger">
      Emplpoyee Email is required.
    </div>
  </div>


  <div class="form-group">
    <label for="managerEmail">Manager Employee:</label>
    <input type="text" id="managerEmail" formControlName="managerEmail" class="form-control">
    <div *ngIf="leaveForm.get('managerEmail')?.invalid && leaveForm.get('managerEmail')?.touched" class="text-danger">
      Manager Email is required.
    </div>
  </div>
  <div class="form-group">
    <label for="fromDate">From:</label>
    <input type="date" id="fromDate" formControlName="fromDate" class="form-control">
    <div *ngIf="leaveForm.get('fromDate')?.invalid && leaveForm.get('fromDate')?.touched" class="text-danger">
      From date is required.
    </div>
  </div>
  <div class="form-group">
    <label for="toDate">To:</label>
    <input type="date" id="toDate" formControlName="toDate" class="form-control">
    <div *ngIf="leaveForm.get('toDate')?.invalid && leaveForm.get('toDate')?.touched" class="text-danger">
      To date is required.
    </div>
  </div>
  <div class="form-group">
    <label for="totalDays">Total Days:</label>
    <input type="number" id="totalDays" formControlName="totalDays" class="form-control">
    <div *ngIf="leaveForm.get('totalDays')?.invalid && leaveForm.get('totalDays')?.touched" class="text-danger">
      Total Days is required.
    </div>
  </div>
  <div class="form-group">
    <label for="reason">Reason:</label>
    <textarea id="reason" formControlName="reason" class="form-control" rows="4"></textarea>
    <div *ngIf="leaveForm.get('reason')?.invalid && leaveForm.get('reason')?.touched" class="text-danger">
      Reason is required.
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="leaveForm.invalid">Submit</button>
</form>
